/* light: #FFF8E1  dark: #6D4C41 */
body {
    background-color: #5D4037 !important;
    box-sizing: border-box !important;
    /* background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 40px; */
}
/* ******************************************** Nav Style ***************************************************** */
nav {
    background-color: #3b2f23 !important;
    z-index: 999;
}

nav a {
    color: white !important;
}

nav a:hover {
    color: #d2ab86 !important;
}
/* ******************************************** Footer Style ***************************************************** */

.footer {
    position: relative;
    bottom: 0 !important;
    width: 100%;
    background-color: #3b2f23 !important;
    color: white;
    text-align: center;
    padding: 20px;
}

/* ******************************************** Add Product Style ***************************************************** */

#addProduct{
    /* background-color: #6D4C41 !important;
    color: #FFF8E1;
    width: 30% !important;
    margin: auto;
    margin-top: 2rem; */
    background: #F5E6C4 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    margin: 50px auto !important;
    width: 80% !important;
    max-width: 900px !important;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3) !important;
}

#formBtns{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem !important;
}

#addCategory{
    background-color: #6D4C41 !important;
    color: #FFF8E1;
    width: 30% !important;
    margin: auto;
    margin-top: 2rem;
}